$font-family: 'Karla', sans-serif;
$background-color: hsl(0deg 0% 96%);
$text-color: hsl(0deg 0% 20%);
$white: hsl(0deg 0% 100%);
$grey-500: hsl(186deg 15% 59%);
$grey-900: hsl(187deg 24% 22%);
$green-200: hsl(148deg 38% 91%);
$green-600: hsl(169deg 82% 27%);
$error-color: hsl(0deg 66% 54%);
$spacing-unit: 8px;
$border-radius: 4px;
$font-size-h1: 2rem;
$font-size-base: 16px;
$rem-base: 1rem;
$transition-duration: 0.3s;
$primary-color: $green-600;
$secondary-color: $grey-900;
